:root {
   
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
background-color: #0c2546;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(220, 223, 226);
}

button{
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #FFF;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

.output{
           margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
}






